html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    background-color: #ffffff;
}
.topbar {
    background-color: #f4efe7;
    width: 100%; 
    height: 70px;
    position: fixed;
    top: 0; 
    left: 0;
    display: flex; /* Use flexbox for content layout */
    align-items: center; 
    padding-left: 80px;
}
.logo {
    margin-top: 25px;
    height: 25px; 
}
.logo:hover {
    transform: translateY(-5px);
    transition: margin 10.0s ease-in-out;
}
.dashboard {
    display: grid; 
    grid-template-columns: 1fr; /* Side navbar and main content */
    width: 100%;
    height: calc(100vh - 70px);
    margin-top: 70px; /*To account for the fixed topbar*/
}
.side_navbar {
    grid-template-rows: 75% 25%; 
    position: fixed; /* no longer part of grid template */
    padding-top: 55px; /* To account for fixed topbar */
    width: 275px;
    height: calc(100vh - 70px); /* Full height minus topbar */
    padding-left: 45px; /* content in container padded */
}
.main_content {
    grid-template-rows: 75px 1fr; /* title and scrollable content area */
    margin-left: 300px; 
    padding-top: 20px;
    height: calc(100vh - 70px);
    text-align: left; 
}
p {
    border: 1px ; 
    border-radius: 10px; 
    padding: 3px;
    color: black; 
}
p:hover {
    background-color: rgba(200, 200, 200, 0.3);
    cursor: pointer; 
}
a {
    text-decoration: none; 
}
a:hover {
    text-decoration: none; 
}
main {
    margin-top: 30px; 
    margin-bottom: 30px; 
}
.logout_btn {
    position: absolute; 
    bottom: 20px; 
    width: calc(275px - 45px); 
}
.top_elem {
    font-size: 25px; 
    font-weight: bold; 
}
.events-container {
    margin-top: 50px;
    display: flex;
    gap: 10px;
}
.events-container > div {
    flex: 1;
}
.event_card {
    height: auto; 
    border: 2px solid black;
    border-radius: 15px;
    width: 400px;
    padding-left: 15px;  
    padding-top: 10px; 
    padding-bottom: 8px; 
    margin-bottom: 30px; 
}
.edit_btn2 {
    float: none;
    margin-left: 72%;
    font-size: 13px;
    border-radius: 8px;
    border: 1px solid black;
}